body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #031316;
}

nav {
  position: fixed;
  z-index: 10;
  width: 10%;
  left: 0.3vw;
  top: 17vh;
}

nav > ul {
  list-style-type: none;
  line-height: 13vh;
  text-align: left;
}

nav > ul > li > a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2.9vh;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  font-size: 3.5vh;
  font-weight: bold;
  transition: font-size 0.7s, font-weight 0.7s;
  webkit-transition: font-size 0.7s, font-weight 0.7s;
}

nav > ul > li > a.active {
  color: #0F6177;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #031316;
}

canvas {
  position: absolute;
  width: 100%;
  hehight: 100vh;
}

.containerSvg {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fishFace {
  position: absolute;
  width: 21%;
  top: 19vh;
  left: 39vw;
}

.logoContainer {
  position: absolute;
  width: 37%;
  top: 63.7vh;
  left: 37vw;
}

main, .gallery, footer {
  width: 100%;
  height: 105vh;
  position: relative;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

main > figure {
  position: relative;
  top: 23vh;
}

main > figure > img {
  position: absolute;
  right: 0;
}

.gallery {
  position: relative;

}

.galleryContainer {
  position: absolute;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 4.7vh;
  width: 81%;
  right: 0.3vw;
  top: 9.7vh;
}

.galleryContainer > figure {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 87%;
}

.galleryContainer > figure > img {
  width: 100%;
}

footer > figure {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 37%;
  right: 7vw;
  top: 23vh;
}

footer > figure > img {
  width: 100%;
}
